@import "./_colors.scss";
@import "./_variables.scss";
@import "./fonts.scss";
@import "./normalize.scss";
@import "./buttons.scss";
@import "./mixins.scss";

html {
  // font-family: $FNT_PRIMARY;
  color: $CLR_TEXT;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: #f4f4f4;
}

.main-header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 16px;
  background-color: #24292e;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.page-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
  border-bottom: $BRDR_PRIMARY;

  // Medium screens
  @media only screen and (min-width: 641px) {
    flex-direction: row;
  }
}

.page-title {
  // Medium screens
  @media only screen and (min-width: 641px) {
    margin-right: 45px;
  }
}

.controls {
  display: flex;
  margin: 20px 0;

  // Medium screens
  @media only screen and (min-width: 641px) {
    margin: 0;
  }
}

.controls-button {
  position: relative;
  display: flex;
  width: 25px;
  height: 25px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover {
    .tooltip {
      opacity: 1;
      z-index: 0;
      transition: opacity .3s ease .5s;
    }
  }
}

.tooltip {
  padding: 2px 5px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease;
}

.tooltip-triangle {
  width: 8px !important;
  height: 8px !important;
}

.page-content {
  display: flex;
  flex-grow: 1;
}

.highlight {
  color: $CLR_PRIMARY;
}

.closer {
  position: absolute;
  display: flex;
  width: 13px;
  height: 13px;

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-page-enter-active {
  transition: opacity .3s linear .3s;
}

.fade-page-leave-active {
  transition: opacity .3s linear;
}

.fade-page-leave-active {
  position: absolute;
  top: 70px;
  min-height: calc(100vh - 70px);
  z-index: 1;
}

.fade-page-enter,
.fade-page-leave-to {
  opacity: 0;
}

.fade-confirm-enter-active,
.fade-confirm-leave-active {
  transition: opacity .3s ease;

  .confirm-box {
    transition: all .3s ease;
  }
}
.fade-confirm-enter,
.fade-confirm-leave-to {
  opacity: 0;

  .confirm-box {
    transform: translateY(70%);
    opacity: 0;
  }
}