@import "./_colors.scss";
@import "./_variables.scss";
@import "./fonts.scss";
@import "./normalize.scss";
@import "./buttons.scss";
@import "./mixins.scss";

html {
  // font-family: $FNT_PRIMARY;
  color: $CLR_TEXT;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.main-header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 16px;
  background-color: #24292e;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.page-top {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
  border-bottom: $BRDR_PRIMARY;
}

.page-title {
  margin-right: 45px;
}

.controls {
  display: flex;
}

.controls-button {
  display: flex;
  width: 25px;
  height: 25px;

  &.reverse {
    transform: scaleX(-1);
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.page-content {
  display: flex;
  flex-grow: 1;
}

.highlight {
  color: $CLR_PRIMARY;
}

.closer {
  position: absolute;
  display: flex;
  width: 13px;
  height: 13px;

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-confirm-enter-active,
.fade-confirm-leave-active {
  transition: opacity .3s ease;

  .confirm-box {
    transition: all .3s ease;
  }
}
.fade-confirm-enter,
.fade-confirm-leave-to {
  opacity: 0;

  .confirm-box {
    transform: translateY(70%);
    opacity: 0;
  }
}